#mc_embed_signup #mc_embed_signup_scroll {
  display: flex;
  flex-direction: column;
  align-items: center
}

#mc_embed_signup #mc-embedded-subscribe {
  margin-top: 25px;
}

#mc_embed_signup #mce-EMAIL {
  width: 50%;
}
